<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Layout.css" rel="stylesheet"/>
</head>
<body>
    <img id="logo" src="http://placekitten.com/g/150/150" />
    <h1 id="title"></h1>
    <nav id="sidenav">
        <ul>
            <li>
                <a href="Course/Index">
                    Courses
                </a>
            </li>
            <li>
                <a href="Student/Index">
                    Students
                </a>
            </li>
        </ul>
    </nav>
    <main id="main">
        @RenderBody()
    </main>

</body>
</html>